// 全局的 字体

.f-o-t {
    font-size: 12px;
    width: 100%;
}

.f-o-f {
    font-size: 14px;
    width: 100%;
}

.f-o-s {
    font-size: 16px;
    width: 100%;
}

.f-o-e {
    font-size: 18px;
    width: 100%;
}

.f-t-z {
    font-size: 20px;
    width: 100%;
}

.f-t-t {
    font-size: 22px;
    width: 100%;
}

.f-t-f {
    font-size: 24px;
    width: 100%;
}

.f-t-s {
    font-size: 26px;
    width: 100%;
}

.f-t-e {
    font-size: 28px;
    width: 100%;
}

.f-t-z {
    font-size: 30px;
    width: 100%;
}

.t-a-c {
    text-align: center;
}

.t-a-l {
    text-align: left;
}

.t-a-j {
    text-align: justify;
}

.t-a-r {
    text-align: right;
}
